@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body{
    background-color:#0092ca;
    /*makes footer take up all the space */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.navbarandtitlecontainer2{
  position:sticky;
  top:0px;
}
.title{
  color:white;
  text-align:left;
  padding:1rem;
  font-family:'lato';
  padding-left:1rem;
  flex:1;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.navbar2 ul{
    list-style:none;
    background: #222831;
    width:100%;
    padding:0;
    /*makes sure the title and navbar are on same row with no gaps/background color showing */
    display:flex;
    justify-content:flex-end;
    margin:0;
    text-align:right;
}
.navbar2 li{
    display: inline-block;
}

/* text in navbar style */
.navbar2 a{
    text-decoration:none;
    color: #eeeeee;
    width:100px;
    display:block;
    padding: 25px 30px 25px 20px;
    margin-right:1rem;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
.navbar2 .supportbutton{
  padding-right:30px;
}
.navbar2 a {
  position: relative;
  z-index: 1;
}
.navbar2 .supportbutton:hover {
  background-color: #eeeeee;
  width:100%;
}
.navbar2 a:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0px;
  bottom: -1px;
  background: #eeeeee;
  z-index: -1;
}
.navbar2 a:hover{
  color: #222831;
}

/*center all the content on screen */
.content{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  width:80%;
  margin:auto;
  /* expand content on screen to prevent gap*/
  flex:1;
}

/* center add homework area*/
.container{
  width:50%;
  min-height: 75vh;
  background:white;
  padding:10px;
  margin:100px auto;
  border-radius:25%;
}

.exampletext{
  color:#3A3B3C;
  font-family:'Philopsopher';
  font-size: 1rem;
  font-weight:1rem;
}

.hw-list {
  width:100%;
  max-width:540px;
  background:white;
  margin:100px auto 20px;
  padding: 40px 30px 70px;
  border-radius:10px;
}
.hw-list h2{
  color:#333;
  font-family:'montserrat';
  font-weight:2rem;
  display:flex;
  align-items:center;
  margin-bottom:20px;
}
.hw-list h2 img{
  width:30px;
  margin-left:10px;
}
.row{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:#edeef0;
  border-radius:30px;
  padding-left:20px;
  margin-bottom:25px;
}
input{
  flex:1;
  border:none;
  outline:none;
  background:transparent;
  padding:10px;
  font-weight:14px;
}
.addbutton{
  border:none;
  outline:none;
  padding:16px 50px;
  background:#0092ca;
  color:white;
  font-size:1rem;
  cursor:pointer;
  border-radius:40px;
  font-family:'montserrat';
  font-weight:2rem;
}
.container ul li{
  list-style:none;
  font-size:17px;
  padding:12px 8px 12px 50px;
  user-select:none;
  display:flex;
  align-items:center;
  cursor:pointer;
  position:relative;
}
.container ul li::before{
  content:'';
  position:absolute;
  height:28px;
  width:28px;
  border-radius:50%;
  background-image:url(images/uncheckedbox.png);
  background-size:cover;
  background-position:center;
  /* Properly level the checkbox button with the text to the right of it */
  top:50%;
  transform: translateY(-50%);
  left:8px;
  margin-top:0px;
}
ul li.checked{
  color:#555;
  text-decoration:line-through;
}
ul li.checked::before{
  background-image:url(images/checkimage.png)
}
ul li span{
  position:absolute;
  right:0;
  top:5px;
  width:40px;
  height:40px;
  font-size:22px;
  color: #222831;
  line-height:40px;
  text-align:center;
  border-radius:50%;
}
ul li span:hover{
  background:#edeef0;
}

/*timer settings*/
.wrapperbody, .wrapper, .content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.timertext{
  color:#3A3B3C;
}
.wrapperbody{
  padding: 0 10px;
  min-height: 100vh;
  background: #0092ca;
}
.wrapper{
  width: 700px;
  padding: 30px 30px 38px;
  background:white;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  color:#333;
  font-family:'montserrat';
  font-weight:2rem;
}
.wrapper img{
  max-width: 103px;
}
.wrapper h1{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0;
  color:#333;
  font-family:'montserrat';
  font-weight:2rem;
}
.wrapper .content{
  width: 100%;
  justify-content: space-between;
  color:#333;
  font-family:'montserrat';
  font-weight:2rem;
}
.content.disable{
  cursor: no-drop;
}
.content .column{
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  width: calc(100% / 3 - 5px);
}
.content.disable .column{
  opacity: 0.6;
  pointer-events: none;
}
.column select{
  width: 100%;
  height: 53px;
  border: none;
  outline: none;
  background: none;
  font-size: 19px;
}
.wrapper button{
  width: 100%;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 17px 0;
  margin-top: 20px;
  border-radius: 5px;
  width:12rem;
  background: #0092ca;
  font-family:'montserrat';
  font-weight:2rem;
}
/* footer for screen with hyperlinks */
.footer-container{
  background-color:#393e46;
  padding-top: 0;
}
.footer{
  width:100%;
  height: 30vh;
  background-color:#393e46;
  color:white;
  display:flex;
  margin: 0 auto;
  justify-content:center;
  flex-wrap:wrap;
  padding-top:50px;
}

.footer-heading{
  display:flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2{
  margin-bottom: 2rem;
}

.footer-heading a{
  color:#eeeeee;
  text-decoration:none;
  margin-bottom:0.5rem;
}
/* footer-text chnages color when hovered */
.footer-heading a:hover{
  color:gray;
  transition: 0.3s ease-out;
}
.footer-head h2:hover{
  color:darkgray;
  transition: 0.3 ease-out;
}

