@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    background-color:#0092ca;
    /*makes footer take up all the space so there are no gaps of background */
    display: flex;
    flex-direction: column;
}
.title{
    color:white;
    text-align:left;
    flex:1;
    font-family:'lato';
    padding-left:1rem;
}
.position{
    position:sticky;
    top:0px;
}

.navbar ul{
    list-style:none;
    background: #222831;
    width:100%;
    padding:0;
    margin:0;
    /*makes sure the title and navbar are on same row with no gaps/background color showing */
    display:flex;
    justify-content:flex-end;
}
.navbar li{
    display: inline-block;
}

/* text in navbar style */
.navbar a{
    text-decoration:none;
    color: whitesmoke;
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    padding: 25px 20px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    /* Add the following properties */
    min-width: 150px;
    /* Adjust the width as needed */
    white-space: nowrap;
    flex-grow:1;
}

.navbar a {
    position: relative;
    z-index: 1;
  }
  
  .navbar a:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: -20px;
    background: #eeeeee;
    z-index: -1;
  }
  .navbar a:hover{
    color: #222831;
  }

/* background picture */
.picture1{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), 
    rgba(0,0,0,0.6), url(images/homeworkpicture.jpg));
    background-size:cover;
    -webkit-background-size:cover;
    background-position:center;
    -moz-background-size: cover;
    -o-background-size: cover;
    position:relative;
}

body{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}

/*animated 'welcome' text */
.animation{
    position:absolute; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-transform:uppercase;
    font-size: 160px;
    -webkit-text-stroke:1px #FFFFFF;
    color:transparent;
    background-image:linear-gradient(#FFFFFF, #FFFFFF);
    background-repeat:no-repeat;
    -webkit-background-clip:text;
    background-position: -900px 0;
    animation: colorload 5s linear infinite alternate;
}

@keyframes colorload{
    100%{
        background-position: 0 0;
    }
}

/* footer for screen with hyperlinks */
.footer-container{
    background-color:#393e46;
    padding-bottom: 64px;
    padding-top: 32px;
}
.footer{
    width:1000px;
    height: 20vh;
    background-color:#393e46;
    color:white;
    display:flex;
    margin: 0 auto;
    justify-content:center;
    flex-wrap:wrap;
}

.footer-heading{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a{
    color:#eeeeee;
    text-decoration:none;
    margin-bottom:0.5rem;
}
/* footer-text chnages color when hovered */
.footer-heading a:hover{
    color:gray;
    transition: 0.3s ease-out;
}
.footer-head h2:hover{
    color:darkgray;
    transition: 0.3 ease-out;
}