@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
html,body{
    background-color:#0092ca;
    /*makes footer take up all the space */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#0092ca;
}

.title{
    color:white;
    text-align:left;
    padding-left:1rem;
    font-family:'lato';
    flex:1;
}
.navbar4 ul{
    list-style:none;
    background: #222831;
    width:100%;
    padding:0;
    display:flex;
    margin:0;
    text-align:right;
}

.navbar4 li{
    display: inline-block;
}

/* text in navbar style */
.navbar4 a{
    text-decoration:none;
    color: #eeeeee;
    width:100px;
    display:block;
    padding: 25px 20px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
.navbarandtitlecontainer4{
  position:sticky;
  top:0px;
}
.navbar4 a {
  position: relative;
  z-index: 1;
}

/*Create neon effect on buttons when hovered*/
.homebutton4:nth-child(1):hover{
  border-color:#0066ff;
  color:#0066ff;
  top:6px;
  box-shadow: 0 0 0 #0066ff;
  animation:button 3s infinite;
}

.createbutton4:nth-child(1):hover{
  border-color:#0066ff;
  top:6px;
  color:#0066ff;
  box-shadow: 0 0 0 #0066ff;
  animation:button 3s infinite;
}

.toolbutton4:nth-child(1):hover{
  border-color:#0066ff;
  color:#0066ff;
  top:6px;
  box-shadow: 0 0 0 #0066ff;
  animation:button 3s infinite;
}

.supportbutton4:nth-child(1):hover{
  border-color:#0066ff;
  color:#0066ff;
  top:6px;
  box-shadow: 0 0 0 #0066ff;
  animation:button 3s infinite;
}

@keyframes button{
  0%{
      box-shadow:#444;
  }
  50%{
      box-shadow: 0 0 27px;
  }
  100%{
      box-shadow:#444;
  }
}

/*conversion picture edit*/
.conversionpic{
  width: 500px;
  height: auto;
  border: none;
  border-radius: 25px;
  margin-top:1rem;
}

.conversion-container{
  display:flex;
  align-items:flex-start;
  margin-top:6rem;
  margin-right:20rem;
}

.conversionpic:hover{
  height:auto;
  width:900px;
  transition: all 1s ease-in-out;
}

/* calculator styling */
.calculatorheader{
    font-family:'montserrat';
    font-size:3rem;
    color:#333;
    font-weight:2rem;
    text-align:center;
    margin-bottom:1rem;
}
/*Help align title,calculator, and conversion pic */
.calculator-title {
  margin-right:1rem;
  margin-top:0;
}

.calculator-container{
  margin:0 auto;
  align-items:center;
}

.container{
  display:flex;
  align-items:flex-start;
}
.calculatorbody{
  display: flex;
  justify-content:center;
  justify-content:space-between;
  align-items: flex-start;
  padding-top: 2rem;
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    margin-right:2rem;
    margin-top:1rem;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: white;
    color: #444;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalbutton{
    background-color: #f66837;
}

.operator{
    color: #0092ca;
}

/*Word Counter Styling*/
.wordcounterwrapper{
  position:absolute;
  width:90vmin;
  transform: translate(-50%, -50%);
  top:150%;
  left:50%;
}

.wordcontainer{
  background:white;
  padding: 50px 30px 80px 30px;
  border-radius:2rem;
  box-shadow: 0px 30px 50px rgba(30, 21, 49, 0.3);
  border-color:blue;
  box-shadow: 0 0 0 blue;
  animation:wordcounter 3s infinite;
}

@keyframes wordcounter{
  0%{
      box-shadow:#444;
  }
  50%{
      box-shadow: 0 0 50px;
  }
  100%{
      box-shadow:#444;
  }
}


.wordcountertitle{
  font-family:'montserrat';
  font-size:2rem;
  color:#333;
  text-align:center;
}

.wordcounterdirections{
  font-family:'philosopher';
  font-size:1rem;
  color:#3A3B3C;
  text-align:center;
}

.wordcountertextarea{
  justify-content:center;
  align-items:center;
  width:100%;
  top:175%;
  resize:none;
  font-size:1rem;
  font-family:serif;
  color:black;
}

.counter{
  background-color:#222831;
  width:70%;
  padding:20px;
  position:relative;
  transform:translate(-50%, -50%);
  left:50%;
  display:flex;
  justify-content: space-around;
  text-align:center;
  border-radius:5px;
  box-shadow:0px 20px 40px rgba(30, 21, 49, 0.4);
  border-color:blue;
  box-shadow: 0 0 0 blue;
  animation:counter 3s infinite;
}

@keyframes counter{
  0%{
      box-shadow:#444;
  }
  50%{
      box-shadow: 0 0 50px;
  }
  100%{
      box-shadow:#444;
  }
}


.counter p{
  color:#eeeeee;
}

.counter h5{
  color:white;
  font-size:2rem;
}

.counterboxarea{
  border-radius:2rem;
}

/* footer for screen with hyperlinks */
.footer-container {
  position: relative;
  bottom: 0;
  top:90%;
  width: 100%;
  background-color: #393e46;
  padding-bottom: 0;
  padding-top: 0;
}

.footer{
  width:100%;
  height: 30vh;
  background-color:#393e46;
  color:white;
  display:flex;
  margin: 0 auto;
  justify-content:center;
  flex-wrap:wrap;
  padding-top:50px;
  border-color:#eeeeee;
  box-shadow: 0 0 0 #eeeeee;
  animation:footer 3s infinite;
}

/*animation on footer*/
@keyframes footer{
  0%{
      box-shadow:#444;
  }
  50%{
      box-shadow: 0 0 100px;
  }
  100%{
      box-shadow:#444;
  }
}

.footer-heading {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #eeeeee;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

/* footer-text changes color when hovered */
.footer-heading a:hover {
  color: gray;
  transition: 0.3s ease-out;
}

.footer-head h2:hover {
  color: darkgray;
  transition: 0.3s ease-out;
}