@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
html,body{
    background-color:#0092ca;
    /*makes footer take up all the space */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#0092ca;
}

.title{
    color:white;
    text-align:left;
    padding-left:1rem;
    font-family:'lato';
    flex:1;
}
.navbar4 ul{
    list-style:none;
    background: #222831;
    width:100%;
    padding:0;
    display:flex;
    margin:0;
    text-align:right;
}
.navbarandtitlecontainer4{
  position:sticky;
  top:0px;
}

.navbar4 li{
    display: inline-block;
}

/* text in navbar style */
.navbar4 a{
    text-decoration:none;
    color: #eeeeee;
    width:100px;
    display:block;
    padding: 25px 20px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

.navbar4 a {
  position: relative;
  z-index: 1;
}

.navbar4 a:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: -12px;
  background: #eeeeee;
  z-index: -1;
}
.navbar4 a:hover{
  color: #222831;
}

.calculatorheader{
    font-family:'montserrat';
    font-size:3rem;
    color:#333;
    font-weight:2rem;
    text-align:center;
}
.calculatorbody{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: white;
    color: #444;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalbutton{
    background-color: #f66837;
}

.operator{
    color: #0092ca;
}

/* footer for screen with hyperlinks */
.footer-container{
    background-color:#393e46;
    padding-bottom: 0;
    padding-top: 0;
  }
  .footer{
    width:100%;
    height: 30vh;
    background-color:#393e46;
    color:white;
    display:flex;
    margin: 0 auto;
    justify-content:center;
    flex-wrap:wrap;
  }
  
  .footer-heading{
    padding-top:2rem;
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
  }
  
  .footer-heading h2{
    margin-bottom: 2rem;
  }
  
  .footer-heading a{
    color:#eeeeee;
    text-decoration:none;
    margin-bottom:0.5rem;
  }
  /* footer-text chnages color when hovered */
  .footer-heading a:hover{
    color:gray;
    transition: 0.3s ease-out;
  }
  .footer-head h2:hover{
    color:darkgray;
    transition: 0.3 ease-out;
  }